<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <base href="/">
        {{ include('_stylesheets.html.twig') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {{ include('_navigation.html.twig') }}
        </header>
        <main class="container mt-5">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
        {{ include('_javascripts.html.twig') }}
        {% block javascripts %}{% endblock %} 
    </body>
</html>
